# LAB 2

## NLP - STOP WORD REMOVAL AND FREQUENCY COUNT

## JERIN MATHEW

## ROLL NO: 2139455

#### Execute a program to remove stop words and to count frequency of words after tokenization of a real time data set

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist

## importing Tweets related Donald Trump to Analyse and Tokenize

In [2]:
data = pd.read_csv("C:/ClassesMSC/DataSets/realdonaldtrump.csv")
data.head()

,id,link,content,date,retweets,favorites,mentions,hashtags
0,1.698309e+09,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,04-05-2009 13.54,510,917,NaN,NaN
1,1.701461e+09,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,04-05-2009 20.00,34,267,NaN,NaN
2,1.737480e+09,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,08-05-2009 8.38,13,19,NaN,NaN
3,1.741161e+09,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,08-05-2009 15.40,11,26,NaN,NaN
4,1.773561e+09,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",12-05-2009 9.07,1375,1945,NaN,NaN

In [3]:
data.describe()

                 id       retweets      favorites
count  4.335200e+04   43352.000000   43352.000000
mean   6.418822e+17    6264.766908   26234.241788
std    3.270437e+17   11120.363335   47705.445640
min    1.698309e+09       0.000000       0.000000
25%    3.645315e+17      27.000000      30.000000
50%    5.852815e+17     396.500000     369.000000
75%    9.076130e+17   10753.000000   45784.000000
max    1.273440e+18  302269.000000  835575.000000

In [4]:
col = data['content']
col

0        Be sure to tune in and watch Donald Trump on L...
1        Donald Trump will be appearing on The View tom...
2        Donald Trump reads Top Ten Financial Tips on L...
3        New Blog Post: Celebrity Apprentice Finale and...
4        "My persona will never be that of a wallflower...
                               ...
43347    Joe Biden was a TOTAL FAILURE in Government. H...
43348    Will be interviewed on @ seanhannity tonight a...
43349                           pic.twitter.com/3lm1spbU8X
43350                           pic.twitter.com/vpCE5MadUz
43351                           pic.twitter.com/VLlc0BHW41
Name: content, Length: 43352, dtype: object

### Word tokenization of the tweets column to segreagate the words in tweets

In [5]:
word_tokens=nltk.word_tokenize(col.iloc[0])

In [6]:
print(word_tokens)

['Be', 'sure', 'to', 'tune', 'in', 'and', 'watch', 'Donald', 'Trump', 'on', 'Late', 'Night', 'with', 'David', 'Letterman', 'as', 'he', 'presents', 'the', 'Top', 'Ten', 'List', 'tonight']

### Since the word tokenization command includes punctuation marks in the words when they are tokenized , we use the WordPunctTokenizer to seperate words and punctuation marks

In [7]:
from nltk.tokenize import WordPunctTokenizer

In [10]:
Puncttokenize=WordPunctTokenizer().tokenize(col.iloc[1])

In [11]:
print(Puncttokenize)

['Donald', 'Trump', 'will', 'be', 'appearing', 'on', 'The', 'View', 'tomorrow', 'morning', 'to', 'discuss', 'Celebrity', 'Apprentice', 'and', 'his', 'new', 'book', 'Think', 'Like', 'A', 'Champion']